.support-hub-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}

.support-hub-heading {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 500px;
    padding-left: var(--dl-space-space-sixunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1474552226712-ac0f0961a954?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQ5fHxzdXBwb3J0fGVufDB8fHx8MTcwOTQ5MDc5Nnww&ixlib=rb-4.0.3&w=1500");
}

.support-hub-heading-title {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 6em;
    font-style: normal;
    font-weight: 800;
    padding-bottom: var(--dl-space-space-twounits);
}

.support-hub-heading-subtitle {
    color: var(--dl-color-gray-white);
    width: 70%;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-body {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
    background-color: var(--dl-color-gray-white);
}

.support-hub-content {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: var(--dl-space-space-sixunits);
}

.support-hub-content-link {
    width: 40%;
}

.support-hub-content-link a {
    font-size: 28px;
    font-style: normal;
    transition: 0.3s;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
}

.support-hub-content-link a:hover {
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
}

.support-hub-content-body {
    gap: 40px;
    flex: 1;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.support-hub-content-usages {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
}

.support-hub-content-usage {
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.support-hub-content-information {
    color: var(--dl-color-gray-500);
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

@media(max-width: 991px) {
    .support-hub-heading-title {
        width: 80%;
    }
}

@media(max-width: 767px) {
    .support-hub-content {
        flex-direction: column;
    }

    .support-hub-content-body {
        width: 100%;
    }
}

@media(max-width: 479px) {
    .support-hub-heading-title {
        font-size: 3em;
    }

    .support-hub-content {
        width: 100%;
    }

    .support-hub-content-link {
        width: 100%;
    }

    .support-hub-content-link a {
        font-size: 20px;
        text-align: left;
    }

    .support-hub-content-body {
        gap: 10;
        margin-top: 0px;
    }

    .support-hub-content-usages {
        flex-direction: column;
    }

    .support-hub-content-usage {
        width: 100%;
    }
}
