.news-item-container {
    flex: 0 0 auto;
    position: relative;
    max-width: 400px;
    min-width: 350px;
    background-color: #f2f2f2;
    align-items: flex-start;
}

.news-item-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-item-item {
    flex: 0 0 auto;
    width: 100%;
    height: 50%;
    display: flex;
    padding: 12px;
    align-items: flex-start;
    flex-direction: column;
}

.news-item-date {
    margin-bottom: 8px;
    font-size: 12px;
}

.news-item-context {
    fill: #e3e3e3;
    color: #575757;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 15px;
}

.news-item-header {
    fill: #030001;
    color: #030001;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
}

.news-item-featured {
    width: 24px;
    height: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.news-item-categories {
    gap: 6px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.news-item-category-item {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    padding: 8px;
    align-items: flex-start;
    border-radius: 14px;
    flex-direction: column;
    background-color: #ffffff;
}

.news-item-category {
    color: #2d2d2d;
}

@media(max-width: 767px) {
    .news-item-container {
        width: 100%;
        max-width: none;
    }
}