.recent-news-link-recent-news-link {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 12px;
    align-items: center;
    margin-bottom: 12px;
    justify-content: space-between;
    text-decoration: none;
    border-color: #f2f2f2;
    padding-bottom: 12px;
    border-width: 2px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    transition: 0.3s all;
}

.recent-news-link-recent-news-link:hover {
    border-color: #030001;
    padding-right: 24px;
    border-bottom-width: 2px;
}

.recent-news-link-header {
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
}

.recent-news-link-date {
    fill: #838383;
    color: #464646;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

@media(max-width: 767px) {
    .recent-news-link-header {
        font-size: 20px;
    }
}

@media(max-width: 479px) {
    .recent-news-link-header {
        font-size: 18px;
    }
}