.blog-header-navbar-interactive {
    width: 100%;
    display: flex;
    z-index: 1000;
    top: 0;
    position: sticky;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
    background-color: var(--dl-color-gray-black);
}

.blog-header-text {
    fill: #f2f2f2;
    color: var(--dl-color-gray-white);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.blog-header-text03 {
    font-size: 22px;
    font-weight: 200;
}

.blog-header-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.blog-header-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.blog-header-navlink {
    fill: #858585;
    color: rgb(133, 133, 133);
    text-decoration: none;
    margin-left: var(--dl-space-space-twounits);
}

.blog-header-burger-menu {
    display: none;
}

.blog-header-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #030001;
}

.blog-header-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.blog-header-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
}

.blog-header-text04 {
    fill: #f2f2f2;
    color: var(--dl-color-gray-white);
    font-size: 24px;
    font-weight: 700;
}

.blog-header-text05 {
    font-style: normal;
}

.blog-header-text06 {
    font-style: normal;
}

.blog-header-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-header-icon {
    fill: #f2f2f2;
    width: 48px;
    height: 48px;
}

.blog-header-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.blog-header-mobile-menu {
    background-color: #030001;
}

@media(max-width: 991px) {
    .blog-header-text {
        color: var(--dl-color-gray-white);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
    }

    .blog-header-navlink {
        margin-bottom: var(--dl-space-space-unit);
    }

    .blog-header-text04 {
        color: var(--dl-color-gray-white);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
    }
}

@media(max-width: 767px) {
    .blog-header-navbar-interactive {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .blog-header-desktop-menu {
        display: none;
    }

    .blog-header-burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blog-header-icon {
        width: 32px;
        height: 32px;
    }

    .blog-header-mobile-menu {
        background-color: #030001;
    }

    .blog-header-navlink {
        margin-bottom: var(--dl-space-space-unit);
    }
}

@media(max-width: 479px) {
    .blog-header-navbar-interactive {
        padding: var(--dl-space-space-unit);
    }

    .blog-header-text {
        color: var(--dl-color-gray-white);
        font-size: 24px;
        font-weight: 700;
    }

    .blog-header-text01 {
        font-style: normal;
        font-weight: 700;
    }

    .blog-header-text02 {
        font-style: normal;
    }

    .blog-header-text03 {
        font-size: 22px;
        font-weight: 200;
    }

    .blog-header-icon {
        width: 24px;
        height: 24px;
    }

    .blog-header-mobile-menu {
        padding: 16px;
        background-color: #030001;
    }

    .blog-header-text04 {
        color: var(--dl-color-gray-white);
        font-size: 24px;
        font-weight: 700;
    }

    .blog-header-text05 {
        font-style: normal;
        font-weight: 700;
    }

    .blog-header-text06 {
        font-style: normal;
    }
}